*{
    margin: 0;
}
#header{
    color: white;
    background-color: #808080;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#banner{
    color: white;
    background-color: #ADD8E6;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-1{
    background-color: aliceblue;
    width:100%;
    height: 500px;
}
#sec-1 #circles{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-1 .circle{
    width: 250px;;
    height: 250px;
    background-color:darkgoldenrod;
    margin:30px;
    border-radius: 50%;
}
#sec-2{
    width:100%;
    height: 500px;
    background-color: aliceblue;

}
div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-size: 40px;
    padding: 20px 0px;
    /* margin-bottom: 20px; */
}
#blocks{
    display: flex;
}
#sec-2 main{
    width:50%;
    height: 400px;
    background-color:#808080;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;


}
#sec-2 aside{
height:400px;
width: 50%;
}
aside .articles{
    width:100%;
    height:30%;
    background-color:#D2691E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
#art-2{
    margin: 20px 0px;
}
#boxes{
    display: flex;
    }
.box{
    width: 270px;
    height: 300px;
    background-color: orangered;
    margin: 20px 40px;
}
footer{
    background-color: pink;
}
